<div class="row">
    <div class="col-lg-12">
        <div class="section-title text-center">
            <h1 class="atitle">About Computer Science</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel about-tabs">
            <!-- /.panel-heading -->
            <div class="panel-body">
                <!-- Nav tabs -->
                <ul class="nav nav-pills nav-justified nav-about">
                    <li class="active"><a href="#profile-pills" data-toggle="tab"><b>What is Computer
                        Science?</b></a></li>
                    <li><a href="#settings-pills" data-toggle="tab"><b>Computer Science Department</b></a></li>
                    <li><a href="#messages-pills" data-toggle="tab"><b>Maynooth University</b></a></li>
                    <li><a href="#courses-pills" data-toggle="tab"><b>Courses at Maynooth</b></a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="profile-pills">
                        <div class="row tab-row corners">
                            <div class="col-lg-6">
                                <div class="row about-desc">
                                    <p>Britannica.com defines Computer Science as the study of computers and computing,
                                        including their theoretical and algorithmic foundations, hardware and software,
                                        and their uses for processing information.</p>
                                    <p>Throughout your Computer Science degree at Maynooth University, you will learn
                                        much more than just programming, such as Computational Thinking, Website
                                        Development and Networking. Computational Thinking is about combining the
                                        creativity of human thinking with the power of computing machines to solve
                                        problems across a range of disciplines. You will study all the essentials of
                                        computing and software, key areas in Mathematics and acquire hands-on
                                        programming skills and advanced problem solving techniques. Everyone uses
                                        computer systems every single day, yet we don’t understand how they work,
                                        studying Computer Science will gift you with the knowledge of understanding the
                                        intricacies of these systems.</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <img alt="Students working in the Computer Science Centre"
                                     src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/CSC-students.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="settings-pills">
                        <div class="row tab-row corners">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="row about-desc">
                                        <h4 class="text-center">Computer Science Department at <br/>Maynooth
                                                University</h4>
                                        <p>The <a href="https://www.maynoothuniversity.ie/computer-science">Department
                                            of Computer Science</a> was founded in 1987 in the Faculty of Science. In
                                            addition to offering a number of undergraduate and postgraduate courses, the
                                            Department has an active research programme. There are seventeen academic
                                            staff, nine support staff, thirty-five postgraduate research students, and
                                            over 500 undergraduates in Computer Science in the current academic year.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <img alt="The Computer Science department building Eolas"
                                         src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/eolas_ss_0.jpg">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <img alt="A computer lab in Eolas"
                                         src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/lab_eolas.png">
                                </div>
                                <div class="col-lg-6">
                                    <div class="row about-desc">
                                        <h4 class="text-center">Facilities</h4>
                                        <p>In October 2015, the new, €20.6 million, state of the art Computer Science
                                            building, Eolas, was opened. The Computer Science Department currently has
                                            seven software laboratories, equipped with over 350 PC workstations, for use
                                            by students using Windows and Linux; it also has a dedicated hardware
                                            laboratory. There are two large postgraduate research laboratories, with
                                            individual workstations for each research student. A number of research
                                            groups have their own special research laboratories.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="row about-desc">
                                        <h4 class="text-center">Supports</h4>
                                        <p>The Computer Science Centre is a free tutoring service available for all of
                                            the first year Computer Science modules. The centre is aimed at all students
                                            regardless of their ability. The tutors have all recently completed the
                                            first year modules, so understand where students may be getting confused.
                                            They will help students understand aspects of the first year modules that
                                            they are having difficulty with and will go over any concepts and past lab
                                            sheets that students are struggling with. They also have advanced material
                                            for those looking for more of a challenge.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <img alt="Students working with a tutor in the Computer Science Centre"
                                         src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/CSC.jpg">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="messages-pills">
                        <div class="row tab-row corners">
                            <div class="row">
                                <div class="col-lg-6">
                                    <img alt="Maynooth University Library"
                                         src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/MaynoothUniversity_LibSign_News_0.jpg">
                                </div>
                                <div class="col-lg-6">
                                    <div class="row about-desc">
                                        <h4 class="text-center">Maynooth University</h4>
                                        <p><a href="https://www.maynoothuniversity.ie/computer-science">Maynooth
                                            University</a> is a vibrant, rapidly expanding third-level institution with
                                            more than 10,000 students. The university offers undergraduate and
                                            postgraduate courses in the Arts, Science, Engineering, Philosophy and
                                            Celtic Studies fields. In 2020, Maynooth University was ranked in the Top 50
                                            Young Universities by Times Higher Education (THE) as well as being named
                                            among the Top 350 Universities in the World. Multiple new buildings,
                                            including a state of the art ICT hub, Eolas, have been built in recent
                                            years, resulting in the most up to date academic facilities and student
                                            accommodation. The campus also houses some of the finest state of the art
                                            research facilities in Ireland. The plans for the
                                            <a href="https://www.maynoothuniversity.ie/communications-marketing/news/new-maynooth-university-student-centre-plans-unveiled">
                                                new Student Centre</a> have also been released.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="row about-desc">
                                        <h4 class="text-center">Maynooth University</h4>
                                        <p>Today Maynooth University is dynamic and innovative with students from every
                                            county in Ireland as well as an increasing number of international students.
                                            Situated 25km west of Dublin, it is located in Ireland's only university
                                            town, Maynooth, which combines the historical legacy of its medieval origins
                                            with a present day location on the fringes of Dublin, adjacent to the Irish
                                            and European headquarters of many multinational high technology companies,
                                            and others even closer in Leixlip, such as HP. It offers a student-friendly
                                            environment providing world-class teaching and research facilities and
                                            courses, while still retaining a uniquely friendly and personal atmosphere.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <img alt="Maynooth University Library"
                                         src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/campus.jpg">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <img alt="The Your Space in Maynooth University"
                                         src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/Your Space.jpg">
                                </div>
                                <div class="col-lg-6">
                                    <div class="row about-desc">
                                        <h4 class="text-center">Student Facilities</h4>
                                        <p>Maynooth University offers state of the art facilities for student use. There
                                            are four dedicated computer rooms for student use in addition to various
                                            other locations around campus with internet access, a dedicated study room
                                            and two libraries. Student accommodation has recently been expanded and
                                            modernised and there is a creche located on the North Campus. The Students'
                                            Union bar & The Venue underwent renovation in 2012 and is adjoined to the
                                            Students' Union offices. The Phoenix building provides three sports halls
                                            for use by students and clubs & societies with an all-weather pitch behind
                                            it, as well as other great amenities such as a restaurant.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="row about-desc">
                                        <h4 class="text-center">Clubs and Societies</h4>
                                        <p>Maynooth University has a wide variety of clubs and societies that are run by
                                            the students of the University. In total there are over 100 clubs and
                                            societies. Getting involved with a club or society is one of the best
                                            decisions a student can make as it allows them to make friends who are
                                            interested in similar things, who they may not have met through their
                                            course. There is something to interest everyone. Soccer, Art, Busking, GAA,
                                            Comedy, Music, Drama, Hockey, Games and History are just a sample of the
                                            clubs and societies you could get involved in. Best of all, if your hobby
                                            doesn't exist as a club or society, you can apply to make one! Clubs and
                                            Societies Fairs Day takes place at the beginning of the term, with over 130
                                            stands showcasing what they have to offer.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <img alt="The Clubs and Societies Awards Ball Cake"
                                         src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/ClubandSocFair.png">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="courses-pills">
                        <div class="row tab-row corners">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="row about-desc">
                                        <h4 class="text-center">Computer Science Courses at <br/>Maynooth University
                                        </h4>
                                        <p>The Department provides undergraduate programmes in Computer Science and
                                            Software Engineering and Computer Science as part of a Science or Arts
                                            degree. In addition, the Department provides the Computer Science component
                                            of numerous denominated degree programmes, including Biotechnology, Genetics
                                            & Bioinformatics, Physics with Astrophysics, Multimedia and Music
                                            Technology. More information on Computer Science courses in Maynooth
                                            University can be found on the<a
                                                    href="https://www.maynoothuniversity.ie/computer-science/our-courses">
                                                departmental webpage</a>.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <img alt="Students working in the library"
                                         src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/library.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
