<div class="col-lg-8 col-lg-offset-2 center-contact">
    <div class="row">
        <div class="col-lg-12">
            <div class="section-title text-center">
                <h1 class="atitle">Get In Touch!</h1>
            </div>
        </div>
    </div>
    <div class="row tab-row corners">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <p class="text-dark">Have any Questions or Queries? Give us a call or send us an email and we will
                        get back to you as soon as possible!</p>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 text-center">
                <h3 class="text-center">
                    <i class="fa fa-phone icon-bg"> (01) 708 3847</i>
                </h3>
            </div>
            <div class="col-lg-5 text-center">
                <h3 class="text-center">
                    <i class="fa fa-envelope icon-bg"></i>
                    <!-- Make sure to change the email address in anchor text AND the link below! -->
                    <a class="d-block" href="mailto:coderdojomaynooth@mu.ie"> cssummercamp@mu.ie</a>
                </h3>
            </div>
        </div>
    </div>
</div>
