<div class="row">
    <div class="col-lg-12">
        <div class="section-title text-center">
            <h1 class="atitle">Computer Science Myths</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse"
                           data-parent="#accordion" href="#collapseOne"
                           aria-expanded="true" aria-controls="collapseOne">
                            Computer Science is not for girls
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in"
                     role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <div class="row myth-dash">
                            <div class="col-lg-6">
                                <div class="row about-desc">
                                    <p>The current President of Yahoo!, CFO of Microsoft, the
                                        10 year old CEO of CoderBunnyz and the first African American to travel to space
                                        are all women and would strongly disagree. It is no secret the ratios of girls
                                        to boys in Computer Science are uneven. However, the number of girls taking
                                        Computer Science as a degree or part of their degree is always rising. There are
                                        a huge number of programmes and initiatives out there to encourage girls to try
                                        Computer Science. There is more information on our <a
                                                href="{{ SITEURL }}/women-in-cs.html">Women in CS page</a>.
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <img alt="Female CS students working at a laptop"
                                     src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/girls_cs.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button"
                            data-toggle="collapse" data-parent="#accordion"
                            href="#collapseTwo" aria-expanded="false"
                            aria-controls="collapseTwo">
                            Computer Science is for nerds
                        </a>
                   </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse"
                    role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <div class="row myth-dash">
                            <div class="col-lg-6">
                                <div class="row about-desc">
                                    <p>Every subject will have a group of students who are really passionate about that subject,
                                        who could be labelled as "nerds". Everyone uses computer systems daily so why can’t everyone
                                        do Computer Science? Computer Science classes in Maynooth University are filled with every
                                        type of person with a huge range of interests and abilities, from those who have always had
                                        a love of computers to those who realise the job prospects to those who try it in first year
                                        and find out they really enjoy it.</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <img alt="CS Students in a lecture hall in Maynooth University"
                                     src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/CSStudents.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button"
                            data-toggle="collapse" data-parent="#accordion"
                            href="#collapseThree" aria-expanded="false"
                            aria-controls="collapseThree">
                            Computer Science is boring
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse"
                     role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <div class="row myth-dash">
                            <div class="col-lg-6">
                                <div class="row about-desc">
                                    <p>The world of Computer Science is constantly changing, evolving and taking leaps forward. The
                                    phones of today were unimaginable 30 years ago, so what will have been invented in the next
                                    30 years? The modules taught in Computer Science are so varied that at least one aspect will
                                    spark an interest in everyone. Topics covered include creating websites, programming,
                                    cryptography, hardware, databases and so much more. There are also opportunities in the
                                    degree programme to pick modules and projects which interest you.</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <img alt="A CS Students working on their project"
                                    src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/Computer-Science---Student-with-Technology---NUI-Maynooth_0.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFour">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button"
                            data-toggle="collapse" data-parent="#accordion"
                            href="#collapseFour" aria-expanded="false"
                            aria-controls="collapseFour">
                            Computer Science is complicated
                        </a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse"
                     role="tabpanel" aria-labelledby="headingFour">
                    <div class="panel-body">
                        <div class="row myth-dash">
                            <div class="col-lg-6">
                                <div class="row about-desc">
                                    <p>Computer Science, while not without its tricky aspects, is manageable for every student
                                        coming out of secondary school. All the skills and concepts you need will be taught to you
                                        throughout your degree course, giving you plenty of time to head to the Student Union.
                                        There is also loads of support systems in place for students who are finding things
                                        difficult, including the Computer Science Centre.</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <img alt="A small friendly robot"
                                     src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/robocupHead.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFive">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button"
                            data-toggle="collapse" data-parent="#accordion"
                            href="#collapseFive" aria-expanded="false"
                            aria-controls="collapseFive">
                            Computer Science is just programming
                        </a>
                    </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse"
                     role="tabpanel" aria-labelledby="headingFive">
                    <div class="panel-body">
                        <div class="row myth-dash">
                            <div class="col-lg-6">
                                <div class="row about-desc">
                                    <p>Programming is by no means the only thing taught in Computer Science. In second year of
                                        Computer Science and Software Engineering, for example, two modules have a focus on
                                        programming, whilst the other 10 modules are related to other aspects of Computer Science,
                                        from Website Development to Operating Systems to important Maths.</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <img alt="A Robot holding a Micro:Bit, an Arduino, and a Raspberry Pi"
                                     src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/RobotPrizes.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingSix">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button"
                            data-toggle="collapse" data-parent="#accordion"
                            href="#collapseSix" aria-expanded="false"
                            aria-controls="collapseSix">
                            There are no jobs available for a Computer Science graduate
                        </a>
                    </h4>
                </div>
                <div id="collapseSix" class="panel-collapse collapse"
                    role="tabpanel" aria-labelledby="headingSix">
                    <div class="panel-body">
                        <div class="row myth-dash">
                            <div class="col-lg-6">
                                <div class="row about-desc">
                                    <p>There are so many opportunities for ICT jobs in Ireland with a huge number of tech giants
                                        located here, such as Google, Intel, Dell, Microsoft and SAP to name just a few. A recent
                                        study done by the Higher Education Authority stated that Computer Science and ICT has the
                                        highest proportion of graduates employed in Ireland within 9 months of completing their
                                        undergraduate degree. Solas has reported that since 2012, employment in the ICT sector has
                                        grown by 19%. You can see what some of the Computer Science graduates are doing on the
                                        <a href="https://www.maynoothuniversity.ie/computer-science/our-graduates">Maynooth
                                            University
                                            website</a>.
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <img alt="A group of CS students on their graduation day with the Head of the Computer Science Department"
                                    src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/graduation.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingSeven">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button"
                            data-toggle="collapse" data-parent="#accordion"
                            href="#collapseSeven" aria-expanded="false"
                            aria-controls="collapseSeven">
                            Computer Science contains loads of difficult Maths
                        </a>
                    </h4>
                </div>
                <div id="collapseSeven" class="panel-collapse collapse"
                    role="tabpanel" aria-labelledby="headingSeven">
                    <div class="panel-body">
                        <div class="row myth-dash">
                            <div class="col-lg-6">
                                <div class="row about-desc">
                                    <p>All the Maths you need will be taught to you throughout your course. Depending on your
                                        degree course, you will take one or two Maths modules per semester. The Maths modules
                                        you
                                        take are picked because of their importance and relevance to Computer Science. There is
                                        also
                                        loads of resources available to help students who are having difficulties, such as the
                                        Maths
                                        Support Centre.
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <img alt="Students in the Maths Support Centre getting assistance from a tutor"
                                     src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/CMBAssist_web_0.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>