<div class="row">
    <div class="col-lg-12">
        <div class="section-title text-center">
            <h1 class="atitle">Women in Computer Science</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel about-tabs">
            <!-- /.panel-heading -->
            <div class="panel-body">
                <!-- Nav tabs -->
                <ul class="nav nav-pills nav-justified nav-about">
                    <li class="active"><a href="#home-pills" data-toggle="tab"><b>About Women in CS</b></a></li>
                    <li><a href="#profile-pills" data-toggle="tab"><b>Women @ Maynooth University</b></a></li>
                    <li><a href="#messages-pills" data-toggle="tab"><b>Women in STEM Society</b></a></li>
                    <li><a href="#settings-pills" data-toggle="tab"><b>Famous Faces in CS</b></a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="home-pills">
                        <div class="row tab-row corners">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="row about-desc">
                                        <p>While the number of women in Computer Science is only a fraction of their
                                            male counterpart,
                                            there is an increased effort to bring more and more women into the computing
                                            industry.
                                            In 2016, 16.7% of students enrolled in ICT in the European Union were female
                                            and 16.1% of
                                            those working in ICT where female. Ireland is slightly ahead of that with
                                            17.1% of female
                                            students studying ICT and 21.1% of ICT specialists are female. There are a
                                            huge number of
                                            benefits to working in ICT so there are many programmes and initiatives to
                                            prove that ICT is for
                                            girls.</p>
                                        <p>According to data collected by the CSO and the Independent.ie, ICT workers
                                            still command the highest average yearly pay of €65,815. Their
                                            earnings rose by almost 5% between 2018 and 2019.
                                            At Honours Bachelor Degree level in Ireland, Computer
                                            Science/ICT graduates
                                            are the highest earners, with 84% earning €25,000 or more. This is compared
                                            to 29% of Arts
                                            graduates. In 2016, 34% of female ICT graduates were earning between €29,000
                                            and €32,999
                                            compared to 28% of male ICT graduates.</p>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <img alt="European Statistics about Female ICT specialists"
                                         src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/EUStats.png">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <img alt="Panel Talk with the MU Women in STEM Society and CWIT"
                                         src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/panelTalk.jpeg">
                                </div>
                                <div class="col-lg-6">
                                    <div class="row about-desc">
                                        <p>In 2018, researchers at University of New South Wales
                                            looked at gender differences in variations in academic grades of 1.6
                                            million students of all ages across the world, and found that males and
                                            females scored similar grades in Stem subjects. However, there are less
                                        females in STEM careers. One of the factors in influencing our career decision is what we see
                                        portrayed in the media. Nearly 63% of Stem characters portrayed in the
                                            media were men, and that this almost 2:1 ratio hasn’t changed in the past
                                            decade. We need to defy the stereotypes . The studies lead author said
                                        "Girls tend to do better when they’re taught by a woman with a strong maths
                                            background, so they can see they can do math, too." Among the top female
                                            Stem characters who inspire girls to study Stem subjects are Meredith Grey
                                            from Grey’s Anatomy, Dana Scully from The X-Files, Amy Farrah Fowler from
                                            The Big Bang Theory and Disney’s Doc McStuffins, made by Irish animation
                                            company Brown Bag Films.</p>
                                        <p>There are a number of communities dedicated to Women in STEM. These aim to
                                        bring together like minded people and prove women can work in STEM.
                                        <a href="https://www.womentech.net/">Women in Tech</a> is a global platform
                                        promoting diversity in tech, leadership and entrepreneurship.
                                            <a href="https://cwit.ie/">Connecting Women in Technology</a> is a network of
                                        Irish based technology companies who all share a common goal to support the
                                            development of women in the technology industry. </p>

                                    </div>
                                </div>
                            </div>
                            <div class="row about-desc">
                                <p><a href="https://dublin.girlsintech.org/">Girls in Tech</a> is a global non-profit
                                    focused on engagement, education and empowerment of girls and women who are
                                    passionate about technology. <a href="https://codefirstgirls.org.uk/">Code First:
                                        Girls</a> is a non-profit enterprise that offers free part-time coding courses
                                    for young women across the UK and Ireland. <a href="https://girlshackireland.org/">GirlsHack
                                        Ireland</a> aims to generate knowledge and interest among girls to pursue STEM
                                    through creative and interactive learning. <a
                                            href="https://www.irishgirlguides.ie/">The Irish Girl Guides</a>
                                    Innovatively Engaging with STEM is a project which focuses on the development of
                                    concepts relating to STEM with young girls in an informal setting. <a
                                            href="https://www.iwish.ie/">I WISH</a> is an initiative to encourage young
                                    females to pursue careers in STEM. <a href="https://www.softwareskillnet.ie/">Women
                                        KickStart</a> is a programme to enable women from non-tech backgrounds to
                                    convert to technical support, project management and customer support roles in tech
                                    companies. The Irish Independent has a series of podcasts called <a
                                            href="https://www.independent.ie/podcasts/women-in-tech/">Women in Tech</a>.
                                    They speak to Irish women involved in tech to dispel myths and break down barriers.
                                    <a href="https://www.intel
                                    .ie/content/www/ie/en/women-in-technology-scholarship-program-leixlip.html">Intel</a>,
                                    <a href="http://womencourage.acm.org/2020/get-a-scholarship/">ACM</a> and
                                    <a href="https://buildyourfuture.withgoogle.com/scholarships/">Google</a> offer
                                    scholarships to females embarking in third level education in STEM subjects.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile-pills">
                        <div class="row tab-row corners about-desc-top">
                            <p>
                                Below is a selection of biographies from women from within the Computer Science
                                Department
                                in Maynooth University. Some of these women are currently studying in Maynooth, some
                                have
                                graduated from Maynooth, some are working in the department. The hope of these
                                biographies is to show how diverse computer science can be and the
                                range
                                of jobs and opportunities available.
                            </p>
                        </div>
                        <div class="row">
                            {% include 'includes/women-faq.html' %}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="messages-pills">
                        <div class="row tab-row corners">
                            <div class="row">
                                <div class="col-lg-6">
                                    <img alt="MU Women in STEM society Logo"
                                         src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/wininstemlogo.png">
                                </div>
                                <div class="col-lg-6 winstem-desc">
                                    <div class="row">
                                        <img alt="About the MU Women in STEM society"
                                             src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/winstem-about.png">
                                    </div>
                                    <div class="row winstem-desc">
                                        <h3 class="text-center"><i class="fa fa-instagram"></i><a
                                                href="https://www.instagram.com/mu_womeninstem/"> Instagram</a></h3>
                                        <h3 class="text-center"><i class="fa fa-envelope"></i> <a
                                                href="mailto:womeninstem@mulife.ie">Email</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="settings-pills">
                        <div class="row tab-row corners about-desc-top">
                            <p>
                                Below is a selection of biographies from women who have accomplished a huge amount
                                within
                                Computer Science. Many of these women had to overcome many obstacles to get to where
                                they did.
                            </p>
                            <p>
                                There is a large number of women within the Computer Science and Tech worlds, however,
                                their names are not as well known as theie male counterparts. The Top 20 Most
                                Powerful Women in Tech can be found on the
                                <a href="https://www.forbes.com/sites/bizcarson/2019/12/12/most-powerful-women-in-tech-in-2019-beyond-ceoswomen-dominate-the-c-suite/#2a56850e49e4">Forbes
                                    website</a>.
                                <a href="https://www.discovermagazine.com/the-sciences/the-50-most-important-women-in-science">Forbes
                                    website</a>. Discover Magazine have compiled a list of the
                                <a href="https://www.discovermagazine.com/the-sciences/the-50-most-important-women-in-science">
                                    50 Most Important Women in Science</a>.
                            </p>
                        </div>
                        <div class="row">
                            {% include 'includes/women-famous.html' %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
</div>

