<div class="row">
    <div class="col-lg-12 bios">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse"
                           data-parent="#accordion" href="#collapseOne"
                           aria-expanded="true" aria-controls="collapseOne">
                            Person 1
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in"
                    role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                         <div class="row myth-dash">
                            <div class="col-lg-8">
                                <div class="row about-desc">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec turpis a metus luctus faucibus et vitae lorem. Morbi ac egestas orci. Vestibulum dignissim ligula sit amet nisl dignissim malesuada. Nulla non sem vehicula, ultrices diam eget, blandit enim. Curabitur vel turpis facilisis, rutrum nunc at, sollicitudin magna. Fusce ornare at mi sit amet scelerisque. In a lobortis quam, a viverra ipsum. Duis eu risus vitae magna posuere viverra iaculis vitae lectus. Donec varius metus turpis, in commodo libero maximus malesuada. Pellentesque efficitur ante odio, a aliquet turpis luctus sit amet. Curabitur at dictum quam. Nullam quis quam cursus, faucibus magna sed, rhoncus purus. Vivamus ante elit, efficitur vel nibh ultrices, accumsan accumsan dolor.</p>
                                    <p>Donec ac consequat lorem, euismod scelerisque turpis. In hac habitasse platea dictumst. Donec porttitor varius turpis. Integer purus ante, malesuada nec velit a, iaculis convallis sapien. In tempor, mi non iaculis scelerisque, lacus sapien fermentum risus, ut tincidunt orci arcu ut odio. Curabitur vulputate ut est vel lacinia. Quisque elementum justo ut rutrum feugiat. Nullam tempor vehicula convallis. Etiam aliquam nisl ut elit sagittis, eget facilisis lorem venenatis. Sed ipsum nibh, auctor in dolor quis, accumsan lacinia quam. Nullam efficitur purus purus, vel pellentesque urna auctor a. Morbi congue nibh purus, quis consectetur nisl porta vitae.</p>
                                </div>
                            </div>
                             <div class="col-lg-4">
                                <img alt="Tosin Salimon on her graduation day from Maynooth University"
                                     src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/Iholderimggirl.jpeg">
                             </div>
                         </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button"
                           data-toggle="collapse" data-parent="#accordion"
                           href="#collapseTwo" aria-expanded="false"
                           aria-controls="collapseTwo">
                            Person 2
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse"
                     role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <div class="row myth-dash">
                            <div class="col-lg-8">
                                <div class="row about-desc">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec turpis a metus luctus faucibus et vitae lorem. Morbi ac egestas orci. Vestibulum dignissim ligula sit amet nisl dignissim malesuada. Nulla non sem vehicula, ultrices diam eget, blandit enim. Curabitur vel turpis facilisis, rutrum nunc at, sollicitudin magna. Fusce ornare at mi sit amet scelerisque. In a lobortis quam, a viverra ipsum. Duis eu risus vitae magna posuere viverra iaculis vitae lectus. Donec varius metus turpis, in commodo libero maximus malesuada. Pellentesque efficitur ante odio, a aliquet turpis luctus sit amet. Curabitur at dictum quam. Nullam quis quam cursus, faucibus magna sed, rhoncus purus. Vivamus ante elit, efficitur vel nibh ultrices, accumsan accumsan dolor.</p>
                                    <p>Donec ac consequat lorem, euismod scelerisque turpis. In hac habitasse platea dictumst. Donec porttitor varius turpis. Integer purus ante, malesuada nec velit a, iaculis convallis sapien. In tempor, mi non iaculis scelerisque, lacus sapien fermentum risus, ut tincidunt orci arcu ut odio. Curabitur vulputate ut est vel lacinia. Quisque elementum justo ut rutrum feugiat. Nullam tempor vehicula convallis. Etiam aliquam nisl ut elit sagittis, eget facilisis lorem venenatis. Sed ipsum nibh, auctor in dolor quis, accumsan lacinia quam. Nullam efficitur purus purus, vel pellentesque urna auctor a. Morbi congue nibh purus, quis consectetur nisl porta vitae.</p>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <img alt="Niamh Connolly"
                                     src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/holderimggirl.jpeg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--- END COL -->

