<div class="col-lg-12 bios">
    <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne1">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse"
                       data-parent="#accordion2" href="#collapseOne1"
                       aria-expanded="false" aria-controls="collapseOne1">
                        Joan Clarke
                    </a>
                </h4>
            </div>
            <div id="collapseOne1" class="panel-collapse collapse in"
                 role="tabpanel" aria-labelledby="headingOne1">
                <div class="panel-body">
                    <div class="row myth-dash">
                        <div class="col-lg-8">
                            <div class="row about-desc">
                                <p>Joan Clarke graduated from the University of Cambridge in 1939 with a Double First in
                                    Mathematics. However, at the time, these were only awarded to males so she was
                                    prevented from receiving her full degree until after the end of WWII. Her Mathematical
                                    ability attracted the attention of Gordon Wechman, who recruited Clarke to Government
                                    Code and Cypher School, (GCCS), at Bletchley Park in 1940.
                                </p>
                                <p>
                                    Clarke initially undertook clerical work, earning far less than her male counterparts.
                                    But again, her abilities gained attention and she was promoted to Linguist, despite
                                    the fact she didn’t know another language but there were no protocols in place for a
                                    senior female cryptanalyst.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <img alt="Joan Clarke"
                                 src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/joanClarke.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo2">
                <h4 class="panel-title">
                    <a class="collapsed" role="button"
                       data-toggle="collapse" data-parent="#accordion2"
                       href="#collapseTwo2" aria-expanded="false"
                       aria-controls="collapseTwo2">
                        Margaret Hamilton
                    </a>
                </h4>
            </div>
            <div id="collapseTwo2" class="panel-collapse collapse"
                 role="tabpanel" aria-labelledby="headingTwo2">
                <div class="panel-body">
                    <div class="row myth-dash">
                            <div class="col-lg-8">
                                <div class="row about-desc">
                                    <p>Margaret Hamilton studied Mathematics in Indiana, USA. She accepted a job at MIT
                                        and began to program software to predict the weather. In the early 1960s, she
                                        joined MIT’s Lincoln Laboratory, where she was involved in the Semi-Automatic
                                        Ground Environment (SAGE) project, the first U.S. air defence system. </p>
                                    <p>
                                        Hamilton went on to work for MIT’s Instrumentation Laboratory, where she led a
                                        team developing software for NASA. Her team developed software for guidance and
                                        control systems for the lunar modules of the Apollo missions. Hamilton herself
                                        worked on software to detect system errors and to recover information in a
                                        computer crash. Working at a time when software engineering courses simply
                                        didn’t exist, Hamilton and her team had to fix problems on their own, and her
                                        work was crucial in making the first moon landing, Apollo 11, possible in 1969.
                                    </p>
                                    <p>
                                        Hamilton was the recipient of various honours, including NASA’s Exceptional
                                        Space Act Award (2003). President Barack Obama presented her with the
                                        Presidential Medal of Freedom in 2016.
                                    </p>
                                </div>
                            </div>
                        <div class="col-lg-4">
                            <img alt="Margaret Hamilton"
                                 src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/margaretHamilton.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree3">
                <h4 class="panel-title">
                    <a class="collapsed" role="button"
                       data-toggle="collapse" data-parent="#accordion2"
                       href="#collapseThree3" aria-expanded="false"
                       aria-controls="collapseThree3">
                       Katherine Johnson
                    </a>
                </h4>
            </div>
            <div id="collapseThree3" class="panel-collapse collapse"
                 role="tabpanel" aria-labelledby="headingThree3">
                <div class="panel-body">
                    <div class="row myth-dash">
                        <div class="col-lg-8">
                            <div class="row about-desc">
                                <p>Katherine Johnson studied mathematics in Virginia and graduated with highest honours
                                    in 1937 and took a job teaching at a black public school in Virginia.  Johnson began
                                    work at National Advisory Committee for Aeronautics’ (NACA’s which later became
                                    NASA) Langley laboratory in the summer of 1953, where her temporary position quickly
                                    became permanent. She was assigned to a project in the Maneuver Loads Branch of the
                                    Flight Research Division.</p>
                                <p>
                                    In 1962, as NASA prepared for the orbital mission of John Glenn, Johnson was called
                                    upon. The computers had been programmed with the orbital equations that would
                                    control the trajectory of the capsule in Glenn’s Friendship 7 mission from liftoff
                                    to splashdown, but the astronauts were wary of putting their lives in the care of
                                    the electronic calculating machines, which were prone to hiccups and blackouts. As
                                    a part of the pre-flight checklist, Glenn asked engineers to “get the girl”, meaning
                                    Johnson, to run the same numbers through the same equations that had been programmed
                                    into the computer, but by hand, on her desktop mechanical calculating machine.
                                    “If she says they’re good,’” Katherine Johnson remembers the astronaut saying,
                                    “then I’m ready to go.” Glenn’s flight was a success and marked a turning point in
                                    the competition between the United States and the Soviet Union in space.
                                </p>
                                <p>
                                    When asked to name her greatest contribution to space exploration, Johnson would
                                    talk about the calculations that helped synch Project Apollo’s Lunar Module with
                                    the lunar-orbiting Command and Service Module. In 2015, at age 97, President Barack
                                    Obama awarded her the Presidential Medal of Freedom. She is immortalized in the 2016
                                    book and movie “Hidden Figures”.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <img alt="Katherine Johnson"
                                     src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/KatherineJohnson.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFour4">
                <h4 class="panel-title">
                    <a class="collapsed" role="button"
                       data-toggle="collapse" data-parent="#accordion2"
                       href="#collapseFour4" aria-expanded="false"
                       aria-controls="collapseFour4">
                        Rear Admiral Dr Grace Hopper
                    </a>
                </h4>
            </div>
            <div id="collapseFour4" class="panel-collapse collapse"
                 role="tabpanel" aria-labelledby="headingFour4">
                <div class="panel-body">
                    <div class="row myth-dash">
                        <div class="col-lg-8">
                            <div class="row about-desc">
                                <p>Hopper first studied at Vassar College, a liberal arts college, before completing her
                                    master’s and PhD in Mathematics at Yale University, graduating in 1934. </p>
                                <p>
                                    When the USA joined WWII, Hopper tried to enlist but was rejected due to her age
                                    and small size. She then joined the Women’s Reserves, became a lieutenant and was
                                    assigned to the Bureau of Ordnance’s Computation Project at Harvard University in
                                    1944. Here she worked on the first large-scale automatic calculator and a precursor
                                    of electronic computers. After a moth got into one of the circuits, she coined the
                                    term ‘bug’ for an unexplained computer failure, which is still widely used.
                                </p>
                                <p>
                                    In 1949 Hopper joined the Eckert-Mauchly Computer Corp., where she designed an
                                    improved compiler, which translated a programmer’s instructions into computer codes.
                                </p>
                                <p>
                                    She retired from the navy with the rank of commander in 1966, but she was recalled
                                    the following year to help standardise the navy’s computer languages. At the age of
                                    79, she was the oldest officer on active U.S. naval duty when she retired again in
                                    1986.
                                </p>
                                <p>
                                    Hopper was elected a fellow of the Institute of Electrical and Electronic Engineers
                                    (1962), was named the first computer science Man of the Year by the Data Processing
                                    Management Association (1969) and was awarded the National Medal of Technology
                                    (1991). She was posthumously awarded the Presidential Medal of Freedom in 2016.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <img alt="Rear Admiral Dr Grace Hopper"
                                     src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/RearAdmiralDrGraceHopper.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFive5">
                <h4 class="panel-title">
                    <a class="collapsed" role="button"
                       data-toggle="collapse" data-parent="#accordion2"
                       href="#collapseFive5" aria-expanded="false"
                       aria-controls="collapseFive5">
                        Megan Smith
                    </a>
                </h4>
            </div>
            <div id="collapseFive5" class="panel-collapse collapse"
                 role="tabpanel" aria-labelledby="headingFive5">
                <div class="panel-body">
                    <div class="row myth-dash">
                        <div class="col-lg-8">
                            <div class="row about-desc">
                                <p>Smith studied mechanical engineering at MIT, achieving her bachelor’s and master’s
                                    degrees. </p>
                                <p>
                                    In September 2014, President Obama named Megan Smith the United States Chief
                                    Technology Officer (CTO) in the Office of Science and Technology Policy. In this
                                    role, she serves as an Assistant to the President. As U.S. CTO, Smith focused on
                                    how technology policy, data and innovation can advance. Smith was the first female
                                    to be appointed as CTO. She also created a White House Website dedicated to Women
                                    in STEM.
                                </p>
                                <p>
                                    Before being appointed CTO, Smith was serving as a Vice President at Google. While
                                    at Google, Smith co-created the company’s “SolveForX” innovation community project
                                    as well as its “WomenTechmakers” tech-diversity initiative and worked on a range of
                                    other projects.
                                </p>
                                <p>
                                    Over the years, Megan has contributed to a wide range of engineering projects,
                                    including an award-winning bicycle lock, space station construction program, and
                                    solar cookstoves. She was a member of the MIT student team that designed, built,
                                    and raced a solar car 2000 miles across the Australian outback. Smith has served on
                                    the boards of MIT, MIT Media Lab, MIT Technology Review, and Vital Voices; as a
                                    member of the USAID Advisory Committee on Voluntary Foreign Aid; and as an advisor
                                    to the Joan Ganz Cooney Center and the Malala Fund, which she co-founded.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <img alt="Megan Smith"
                                    src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/meganS.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
